body {
    font-family: Arial, sans-serif;
    margin: 10;
    padding: 10dx
}

.custom-btn {
    width: 150px;
    position: absolute;
    left: 10px;
    top: 20px;
}

.container {
    width: 50%;
    margin: 12px;
    text-align: center;
}

img {
    display: block;
    margin: 40px auto;
    width: 37%;
}

form {
    margin-top: 80px;
}

form p {
    margin-bottom: 15px;
    font-weight: bold; 
}

form input {
    margin-right: 5px;
    margin-top: 5px;
}

.question-container {
    margin-bottom: 50px;
    margin: 20px;
}

.question-container input {
    margin-left: 10px;  
}

.choices {
    display: flex;
    flex-direction: column; 
    gap: 20px; 
}

.button-container {
    display: none;
    justify-content: center;
    margin-top: 55px;
    margin-top: 30px;
}

#quizForm {
    margin: 20px;
}